<div id="subscription_area">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="subscribe_now mt-5">
          <h4>SAMTC RESULTS</h4>
          <p>Enter Roll No to get your result!</p>
          <form class="subscribe_form">
            <div class="input-group">
               <input type="text" [(ngModel)]="searchText" class="form-control" name="email" placeholder="Enter Roll No">
               <span class="input-group-btn">
                    <button class="btn btn-default" type="button" (click)="search()">Search</button>
               </span>
            </div>
          </form>
          <div class="row justify-content-center">
            <span *ngIf="err" style="color: red;">{{this.err}}</span>
          <div class="col-6 mx-auto result" *ngIf="searchRec">
            <table class="table w-100 table-striped ">
            <tr>
              <th>Roll No</th>
              <td>{{searchRec.roll_number}}</td>
            </tr>
             <tr>
              <th>Name</th>
              <td>{{searchRec.student_name}}</td>
            </tr>
             <tr>
              <th>Class</th>
              <td>{{searchRec.Class}}</td>
            </tr>
             <tr>
              <th>Score</th>
              <td>{{searchRec.first_level_result}}</td>
            </tr>
             <tr>
              <th>Result</th>
              <td>{{(searchRec.is_first_level_qualified=='NO')? 'Not Qualified': 'Qualified'}}</td>
            </tr>
          </table>
          </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
