/*Imp Note
dont copy the css of body
this is scss but you can use any scss to css converter to get the same result, ofcourse if you using css and
Thanks for checking out this PEN.
If you have any question, please feel free to contact me via email(immad.hamid@gmail.com) 
For more pen visit codepen.io/immad-hamid */

body {
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.subscribe_now {
  h4 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #34495e;
    font-weight: 800;
    text-align: center;
  }
  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #34495e;
    text-align: center;
  }
}

.subscribe_form {
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 2px 5px 0px rgba(10, 6, 20, 0.24);
  &:focus {
    outline: none;
  }
  .form-control {
    border: none;
    &:focus {
      box-shadow: none;
    }
  }
  input {
    height: 44px;
  }
  button {
    border: none;
    height: 44px;
    background-color: #0ed085;
    color: #fff;
    margin: -1px;
    border-radius: 0;
    width: 135px;
    text-transform: uppercase;
    position: relative;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: #fff;
      background-color: rgba(14, 208, 133, 0.77);
      outline: none;
      transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -ms-transition: all ease 0.3s;
      &:before {
        background-color: rgba(14, 208, 133, 0.77);
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 1px;
      background-color: #0ed085;
      width: 100%;
      transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -ms-transition: all ease 0.3s;
    }
  }
  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-left: 0px;
  }
}
.result {
  margin-top: 30px;
}
.ma-header.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #316eae;
}
.navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  padding: 10px 50px;
}
.logo {
  max-width: 65%;
  font-size: 30px;
  color: #fff;
  font-weight: var(--ma-fn-eb);
}
.subscription_area {
  margin-top: 10%;
}
.ma-footer {
  position: relative;
  bottom: 0px;
  width: 100%;
}
.smtc-wrap-heading,
.smtc-audit {
  text-align: center;
}
.smtc-light {
  background: #f6f9ff !important;
}
.pre-head {
  display: block;
  font-size: 22px;
  // font-family: var(--ma-font);
  font-weight: 500;
  color: #ffc700;
  margin: 14px 0;
  text-transform: uppercase;
}
.intro {
  font-size: 26px;
  // font-family: var(--ma-font);
  font-weight: 800;
  color: #1556a8;
  display: block;
}
.smtc-audit {
  position: relative;
  bottom: 0px;
  width: 100%;
}
.main_container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.subscription_area {
  position: relative;
  // top: 100px;
  // height: 100%;
}
@media screen and (max-width: 768px) {
  .navbar {
    padding: 10px 14px;
  }
  .logo {
    max-width: 100%;
  }
  .pre-head {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
